[Unit]
Description=xkVM VFD Metric Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/xkvm-vfd-agent/agent.conf
ExecStart=/usr/bin/xkvm-vfd-agent --host ${XKVM_VFD_HOST} --port ${XKVM_VFD_PORT} --interval ${XKVM_VFD_INTERVAL}
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
